{% extends 'base.njk' %}

{% block content %}
    <div class="about-content">
        <h1>Sobre o Foodfy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
         totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
         tatibus libero velit tempora deleniti?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
         totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
         tatibus libero velit tempora deleniti?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
         totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
         tatibus libero velit tempora deleniti?
         </p>

        <h2>Como tudo começou...</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa necess
        itatibus sed fugiat neque laborum quidem sequi rem. Suscipit atque, nam repudiandae recusandae modi eaque, nemo 
        necessitatibus unde quisquam, vero libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
        totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
        tatibus libero velit tempora deleniti?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
        totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
        tatibus libero velit tempora deleniti?</p>

        <h2>Nossas receitas</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi harum 
        dolor nemo error deleniti obcaecati sit ex magnam consectetur nisi, cupiditate, maiores enim doloremque vero neq
        ue et non reprehenderit amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
        totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
        tatibus libero velit tempora deleniti?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi
        totam impedit doloribus beatae obcaecati tempore debitis quas laborum id culpa alias, nulla cumque quos necessi
        tatibus libero velit tempora deleniti?</p>
    </div>
{% endblock content %}